<a href="https://colab.research.google.com/github/pastelpargoal/CodingAssessment/blob/main/Part1_HighFreq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1: High Frequency Survey Checks

In [52]:
# download necessary packages

# basics
import pandas as pd
import numpy as np

In [10]:
import pandas as pd

url = "https://raw.githubusercontent.com/pastelpargoal/CodingAssessment/main/survey_results.csv"
surveydata = pd.read_csv(url)
surveydata.head()

,uniqueid,hhid,surveyid,surveyor,surveydate,surveytime,survey_complete,superpresent,scrutinizedyn,backcheckedyn,...,theftvictim_2,thanavisityn,thanavisitreason,thanavisitreason_other,surveytime2,thanavisitreason_other2,exit,base_age,base_income,base_educ
0,1,1101008,122,Benjamin,9242014,6308,1,0.0,1,0.0,...,NaN,1.0,Other,BATWARE KE LIYE,105.13333,NaN,1.0,44.0,1609.0,None or anganwadi
1,2,1101015,101,Peter,9132013,7295,0,0.0,1,0.0,...,NaN,2.0,NaN,NaN,121.58334,NaN,1.0,74.0,2826.0,None or anganwadi
2,3,1101019,115,Peter,12142014,6339,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,105.65000,NaN,1.0,1975.0,2426.0,7
3,4,1101027,84,Benjamin,10172014,7430,1,0.0,1,0.0,...,NaN,1.0,To register a Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1101040,88,Anna,9242014,7551,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,125.85000,NaN,1.0,1983.0,1652.0,7

# Survey Duration

## a. Calculate the average and median values of time spent surveying, considering only completed surveys.

In [41]:
surveydata1= surveydata[surveydata.survey_complete==1]
surveydata1.head()

,uniqueid,hhid,surveyid,surveyor,surveydate,surveytime,survey_complete,superpresent,scrutinizedyn,backcheckedyn,...,theftvictim_2,thanavisityn,thanavisitreason,thanavisitreason_other,surveytime2,thanavisitreason_other2,exit,base_age,base_income,base_educ
0,1,1101008,122,Benjamin,9242014,6308,1,0.0,1,0.0,...,NaN,1.0,Other,BATWARE KE LIYE,105.133330,NaN,1.0,44.0,1609.0,None or anganwadi
2,3,1101019,115,Peter,12142014,6339,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,105.650000,NaN,1.0,1975.0,2426.0,7
3,4,1101027,84,Benjamin,10172014,7430,1,0.0,1,0.0,...,NaN,1.0,To register a Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1101040,88,Anna,9242014,7551,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,125.850000,NaN,1.0,1983.0,1652.0,7
5,6,1101044,107,Anna,10202014,5636,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,93.933334,NaN,1.0,1971.0,2673.0,None or anganwadi

In [54]:
#surveyAvg =
surveydata1.surveytime.mean()

np.float64(7201.995555555555)

In [57]:
surveyAvg= float(surveydata1.surveytime.mean())
surveyMedian = surveydata1.surveytime.median()

# 2. Enumerator Differences

## a) Does this average value mask important differences among surveyors? For each surveyor in the dataset, output the average length of time spent surveying, again for only completed surveys.

In [65]:
totalsurveytime = float(surveydata1.surveytime.sum())
numSurvey = len(surveydata1.surveytime)
average = totalsurveytime/ numSurvey
average

7201.995555555555

## b) Briefly comment on any notable differences.

###

In [37]:
#surveydata1.['survey_complete'].mean
surveyAvg = surveydata1.surveytime.mean()

surveyMedian = surveydata1.surveytime.median()

# 3. Uniqueness of ID vars

## a. Check whether the hhid variable is unique (i.e., each observation represents a distinct household).

In [67]:
surveydata1.shape

(900, 70)

In [43]:
surveydata1.hhid.unique()
surveydata1.hhid.nunique()

897

### 897 are unique while 3 are not.

## b) If duplicates exist, list the duplicated IDs.

In [45]:
surveydata1[surveydata1.hhid.duplicated()]

,uniqueid,hhid,surveyid,surveyor,surveydate,surveytime,survey_complete,superpresent,scrutinizedyn,backcheckedyn,...,theftvictim_2,thanavisityn,thanavisitreason,thanavisitreason_other,surveytime2,thanavisitreason_other2,exit,base_age,base_income,base_educ
597,598,1802011,640,Sam,9172013,7098,1,0.0,1,1.0,...,NaN,2.0,NaN,NaN,118.30000,NaN,1.0,37.0,1508.0,12
641,642,1807077,981,Sam,8222014,6749,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,112.48333,NaN,1.0,1977.0,3822.0,None or anganwadi
679,680,1813023,669,Mary,10292013,6584,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,109.73333,NaN,1.0,37.0,2547.0,None or anganwadi

In [51]:
#surveydata1[surveydata1.hhid.drop_duplicates()]
surveydata1.hhid.drop_duplicates()

0       1101008
2       1101019
3       1101027
4       1101040
5       1101044
         ...
995     2024053
996     2025012
998     2025071
999     2025087
1000    2025097
Name: hhid, Length: 897, dtype: int64

## c)In a few sentences, describe what steps you might take to investigate or resolve duplicate IDs.

For now, I would drop duplicates to avoid repeated answers, to have a fair outcome.