<a href="https://colab.research.google.com/github/pastelpargoal/CodingAssessment/blob/main/Part1_HighFreq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1: High Frequency Survey Checks

In [15]:
# basics
import pandas as pd
import numpy as np

In [16]:
# Reading in the file
url = "https://raw.githubusercontent.com/pastelpargoal/CodingAssessment/main/survey_results.csv"
surveydata = pd.read_csv(url)
#Checking the data contents
surveydata.head()

,uniqueid,hhid,surveyid,surveyor,surveydate,surveytime,survey_complete,superpresent,scrutinizedyn,backcheckedyn,...,theftvictim_2,thanavisityn,thanavisitreason,thanavisitreason_other,surveytime2,thanavisitreason_other2,exit,base_age,base_income,base_educ
0,1,1101008,122,Benjamin,9242014,6308,1,0.0,1,0.0,...,NaN,1.0,Other,BATWARE KE LIYE,105.13333,NaN,1.0,44.0,1609.0,None or anganwadi
1,2,1101015,101,Peter,9132013,7295,0,0.0,1,0.0,...,NaN,2.0,NaN,NaN,121.58334,NaN,1.0,74.0,2826.0,None or anganwadi
2,3,1101019,115,Peter,12142014,6339,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,105.65000,NaN,1.0,1975.0,2426.0,7
3,4,1101027,84,Benjamin,10172014,7430,1,0.0,1,0.0,...,NaN,1.0,To register a Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1101040,88,Anna,9242014,7551,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,125.85000,NaN,1.0,1983.0,1652.0,7

In [17]:
surveydata.shape

(1001, 70)

In [18]:
# Checking more details about the dataset
surveydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 70 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   uniqueid                  1001 non-null   int64
 1   hhid                      1001 non-null   int64
 2   surveyid                  1001 non-null   int64
 3   surveyor                  1001 non-null   object
 4   surveydate                1001 non-null   int64
 5   surveytime                1001 non-null   int64
 6   survey_complete           1001 non-null   int64
 7   superpresent              998 non-null    float64
 8   scrutinizedyn             1001 non-null   int64
 9   backcheckedyn             975 non-null    float64
 10  sex                       1001 non-null   int64
 11  age                       1000 non-null   float64
 12  educ                      989 non-null    float64
 13  income                    1001 non-null   int64
 14  addressdur                1000 non-null   float64
 15  addressdur_unit           1001 non-null   int64
 16  areadur                   1000 non-null   float64
 17  areadur_unit              1001 non-null   int64
 18  occupation                1001 non-null   int64
 19  occupationother           12 non-null     object
 20  castename                 1000 non-null   object
 21  castecode                 136 non-null    float64
 22  literateyn                1000 non-null   float64
 23  treatment                 1001 non-null   int64
 24  own4wheeleryn             1001 non-null   int64
 25  own4wheelernum            92 non-null     float64
 26  own4wheelervalue          90 non-null     float64
 27  own4wheelertheft          90 non-null     float64
 28  own4wheelertheftnum       1 non-null      float64
 29  theftfromcaryn            90 non-null     float64
 30  theftfromcarnum           3 non-null      float64
 31  own2wheeleryn             1000 non-null   float64
 32  own2wheelernum            238 non-null    float64
 33  own2wheelervalue          238 non-null    float64
 34  own2wheelertheft          240 non-null    float64
 35  own2wheelertheftnum       17 non-null     float64
 36  own2wheelertheftvictim_1  17 non-null     float64
 37  own2wheelertheftvictim_2  0 non-null      float64
 38  cycleownyn                1001 non-null   int64
 39  cycleownnum               400 non-null    float64
 40  cycleownvalue             400 non-null    float64
 41  cycletheftyn              400 non-null    float64
 42  cycletheftnum             11 non-null     float64
 43  cycletheftvictim_1        11 non-null     float64
 44  cycletheftvictim_2        1 non-null      float64
 45  burglaryyn                1000 non-null   float64
 46  burglarynum               12 non-null     float64
 47  attemptedburglaryyn       1000 non-null   float64
 48  attemptedburglarynum      3 non-null      float64
 49  vandalismyn               1000 non-null   float64
 50  vandalismnum              1 non-null      float64
 51  trespassingyn             1000 non-null   float64
 52  trespassingnum            4 non-null      float64
 53  robberyyn                 1000 non-null   float64
 54  robberynum                1 non-null      float64
 55  robberyvictim_1           1 non-null      float64
 56  robberyvictim_2           0 non-null      float64
 57  theftyn                   1000 non-null   float64
 58  theftnum                  15 non-null     float64
 59  theftvictim_1             15 non-null     float64
 60  theftvictim_2             0 non-null      float64
 61  thanavisityn              1000 non-null   float64
 62  thanavisitreason          55 non-null     object
 63  thanavisitreason_other    20 non-null     object
 64  surveytime2               949 non-null    float64
 65  thanavisitreason_other2   0 non-null      float64
 66  exit                      949 non-null    float64
 67  base_age                  948 non-null    float64
 68  base_income               949 non-null    float64
 69  base_educ                 938 non-null    object
dtypes: float64(49), int64(15), object(6)
memory usage: 547.6+ KB

# 1. Survey Duration

## a. Calculate the average and median values of time spent surveying, considering only completed surveys.

In [19]:
#Subsetting to those that only completed the surveys
surveydata1= surveydata[surveydata.survey_complete==1]
surveydata1.head()

,uniqueid,hhid,surveyid,surveyor,surveydate,surveytime,survey_complete,superpresent,scrutinizedyn,backcheckedyn,...,theftvictim_2,thanavisityn,thanavisitreason,thanavisitreason_other,surveytime2,thanavisitreason_other2,exit,base_age,base_income,base_educ
0,1,1101008,122,Benjamin,9242014,6308,1,0.0,1,0.0,...,NaN,1.0,Other,BATWARE KE LIYE,105.133330,NaN,1.0,44.0,1609.0,None or anganwadi
2,3,1101019,115,Peter,12142014,6339,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,105.650000,NaN,1.0,1975.0,2426.0,7
3,4,1101027,84,Benjamin,10172014,7430,1,0.0,1,0.0,...,NaN,1.0,To register a Crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1101040,88,Anna,9242014,7551,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,125.850000,NaN,1.0,1983.0,1652.0,7
5,6,1101044,107,Anna,10202014,5636,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,93.933334,NaN,1.0,1971.0,2673.0,None or anganwadi

In [20]:
# Avg and median
surveyAvg= float(surveydata1.surveytime.mean())
surveyMedian = surveydata1.surveytime.median()
# Displaying the results
surveyAvg

7201.995555555555

In [21]:
surveyMedian

7165.0

# 2. Enumerator Differences

## a) Does this average value mask important differences among surveyors? For each surveyor in the dataset, output the average length of time spent surveying, again for only completed surveys.

In [22]:
# Grouping the data among surveyors
totalsurveytime = surveydata1.groupby('surveyor').surveytime.sum()

In [23]:

numSurvey = len(surveydata1.surveytime)
average = totalsurveytime/ numSurvey
average

surveyor
Anna         960.632222
Benjamin    1021.962222
Caroline     454.888889
David       1138.196667
Grace        370.806667
Jane         114.264444
John         516.723333
Joseph       469.902222
Mary        1116.794444
Peter        305.738889
Sam          732.085556
Name: surveytime, dtype: float64

## b) Briefly comment on any notable differences.

### The average is 7202, which is higher than each individual surveyor. There are major differences among the surveyor with Jane having around 100 while Benjamin, David, and Mary have over 1000. Overall, there is a major difference between the average and average of each surveyor

# 3. Uniqueness of ID vars

## a. Check whether the hhid variable is unique (i.e., each observation represents a distinct household).

In [24]:
surveydata1.shape

(900, 70)

In [25]:
#Checking for uniqueness
surveydata1.hhid.unique()
surveydata1.hhid.nunique()

897

### 897 are unique while 3 are not.

## b) If duplicates exist, list the duplicated IDs.

In [26]:
surveydata1[surveydata1.hhid.duplicated()]

,uniqueid,hhid,surveyid,surveyor,surveydate,surveytime,survey_complete,superpresent,scrutinizedyn,backcheckedyn,...,theftvictim_2,thanavisityn,thanavisitreason,thanavisitreason_other,surveytime2,thanavisitreason_other2,exit,base_age,base_income,base_educ
597,598,1802011,640,Sam,9172013,7098,1,0.0,1,1.0,...,NaN,2.0,NaN,NaN,118.30000,NaN,1.0,37.0,1508.0,12
641,642,1807077,981,Sam,8222014,6749,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,112.48333,NaN,1.0,1977.0,3822.0,None or anganwadi
679,680,1813023,669,Mary,10292013,6584,1,0.0,1,0.0,...,NaN,2.0,NaN,NaN,109.73333,NaN,1.0,37.0,2547.0,None or anganwadi

#### Duplicates exist (3 total)

In [27]:

surveydata1.hhid.drop_duplicates()

0       1101008
2       1101019
3       1101027
4       1101040
5       1101044
         ...
995     2024053
996     2025012
998     2025071
999     2025087
1000    2025097
Name: hhid, Length: 897, dtype: int64

## c)In a few sentences, describe what steps you might take to investigate or resolve duplicate IDs.

I would check for uniqueness and duplicates. If there is duplicates, I would investigate the dataset more (i.e., checking for shape, info, etc.) to learn more about it. Then I would drop duplicates to avoid repeated answers, to have a fair outcome.

## Note: I used my class resources to help with the coding.